@charset "UTF-8";
/* 

Modern Business 2 - CSS File

Created By: Jonathan Atkinson
Web: www.theaterwebsiteservices.com
Copyright - Jonathan Atkinson 2009


USE THIS STYLE SHEET EXCLUSIVELY FOR MODERN BUSINESS 2 IE6 INNER PAGES 

*/


body {
	background-color:#efede5;
	color:#6e6a6a;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
	font-size:14px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../img/blue_bground2.jpg);
	background-repeat: repeat-x;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#444141;
	letter-spacing: -1px;
	font-weight: 400;
}

h2 {
font-family: Arial, Helvetica, sans-serif;
font-size:16px;
color:#333333;
}


a {
text-decoration:none;
color:#269d9b;
}

a:hover {
text-decoration:none;
color:#444141;
}

a img { border: none }

.hr {
	height:40px;
	width:100%;
	background-image: url(../img/horizontal_rule.gif);
	border:none;
	clear: both;
	background-repeat:no-repeat;
	background-position:center;
   }


.intro_text {
	color:#444141;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
	font-size:14px;
}

.mini_heading {
	color:#444141;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height: 30px;
}

.mini_heading2 {
	color:#444141;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height: 20px;
}


#centerColumn {
	width:960px;
	text-align:center;
	margin:0 auto;
}

.white_text {
color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
	font-size:14px;
	}

#header {
	margin:0 0 0 0;
	padding:0;
	width:960px;
	height:83px;
	background:url(../img/blue_top_bground.jpg) no-repeat top left;
	float:left;
}

#logo {
	margin:25px 0 0 10px;
	padding:0;
	width:199px;
	height:34px;
	background:url(../img/blue_logo.png) no-repeat top left;
	float:left;
}

#inner_content_left {
	width:625px;
	float:left;
	text-align: left;
	padding-top: 20px;
}

#inner_content_right {
	width:300px;
	float:right;
	text-align: left;
	padding-top: 20px;
	min-height: 200px;
}

#inner_content_right ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	} 

#inner_content_right li {
	background: url(../img/blue_service_checks.jpg) left center no-repeat;
	padding-left: 45px;
	margin-bottom: 20px;
	}
	
	
	#home_content_left {
	width:625px;
	float:left;
	text-align: left;
	padding-top: 10px;
}

#home_content_right {
	width:305px;
	float:right;
	text-align: left;
	margin-top: 10px;
	margin-left: 20px;
}


#home_content_left ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	} 

#home_content_left li {
	background: url(../img/blue_service_checks2.jpg) left center no-repeat;
	padding-left: 45px;
	margin-bottom: 20px;
	}
	
.portfolio {
	width:960px;
	float:left;
	}
	
.portfolio_left {
	width:515px;
	float:left;
	text-align:left;
	}
	
.portfolio_right {
	width:425px;
	float:right;
	text-align:left;
	}

#privacy	{
	width:920px;
	text-align: left;
	padding-left: 20px;
}

#solutions {
	width:960px;
	clear: both;
	text-align: left;
	background-image: url(../img/solutions_header.jpg);
	background-repeat: no-repeat;
	padding-top: 120px;
}

#content_area {
	width:960px;
	text-align: center;
	min-height: 200px;
	clear: both;
}

#services_header {
	width:690px;
	text-align: left;
	min-height: 145px;
	background-image:url(../img/services_header.jpg);
	background-repeat:no-repeat;
	clear: both;
	padding-left: 270px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 25px;
	padding-bottom: 60px;
}

#services_tabs {
	width:960px;
	clear: both;
}

.tab_content {
	width:245px;
	padding: 20px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444141;
}

#services_left {
	width:275px;
	text-align: left;
	min-height: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6e6a6a;
	background-image:url(../img/services_tab_left.jpg);
	background-repeat:no-repeat;
	padding: 120px 5px 0 25px;
	float: left;
}

#services_middle {
	width:275px;
	text-align: left;
	min-height: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6e6a6a;
	background-image:url(../img/services_tab_middle.jpg);
	background-repeat:no-repeat;
	padding: 120px 5px 0 25px;
	float: left;
	margin-left: 22px;
}

#services_right {
	width:275px;
	text-align: left;
	min-height: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6e6a6a;
	background-image:url(../img/services_tab_right.jpg);
	background-repeat:no-repeat;
	padding: 120px 5px 0 25px;
	float: right;
}

#portfolio_header {
	width:690px;
	text-align: left;
	min-height: 145px;
	background-image:url(../img/portfolio_header.jpg);
	background-repeat:no-repeat;
	clear: both;
	padding-left: 270px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 25px;
		padding-bottom: 60px;
}

#about_header {
	width:690px;
	text-align: left;
	min-height: 145px;
	background-image:url(../img/about_header.jpg);
	background-repeat:no-repeat;
	clear: both;
	padding-left: 270px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 25px;
		padding-bottom: 60px;
}

#contact_header {
	width:690px;
	text-align: left;
	min-height: 145px;
	background-image:url(../img/contact_header.jpg);
	background-repeat:no-repeat;
	clear: both;
	padding-left: 270px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 25px;
		padding-bottom: 60px;
}

#footer {
	width:100%;
	background-color:#efede5;
	min-height: 250px;
	margin: 0 auto;
	clear: both;
	text-align: center;
	border-top: #c6c7c1;
	border-top-width: 1px;
	border-top-style:dotted;
	margin-top: 40px;
}

.copyright {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#959595;
	text-align: center;
}

.copyright a {
text-decoration:none;
color:#52553d;
}

.copyright a:hover {
text-decoration:underline;
color:#959595;
}


.call {
	width:960px;
	height:46px;
	clear: both;
	padding-top: 30px;
	}
	
	
#map_left {
	width:140px;
	float:left;
	padding-top: 20px;
	}
	
#map_right {
	width:470px;
	float:right;
	padding-top: 20px;
	}

	
.small_type {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-align: left;
}

.small_type a {
text-decoration:underline;
color:#222222;
}

.small_type a:hover {
text-decoration:underline;
color:#84b73a;
}


	
/* Bottom Navigation bar menu styling */

#bottom_nav {
	width:940px;
	height:41px;
	background-image:url(../img/bottom_menu_bar.jpg);
	background-repeat:no-repeat;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-bottom: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#464833;
	text-align: left;
	padding-top: 12px;
	padding-left: 20px;
}
	
	
	
#nav_container1 {
float: left;
width:600px;
height:41px;
}

#nav_container2 {
	float: right;
	width:193px;
	height:41px;
	margin-top: -5px;
	text-align: right;
	margin-right: 30px;
}
	
	
#bottom_nav ul {
	margin:0;
	padding:0;
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-right: 10px;
}

#bottom_nav li {
	margin:0;
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-right: 10px;
}

#bottom_nav li a{
	margin:0;
	display:inline;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #464833;
	padding-right: 10px;
}

#bottom_nav li a:hover {
	color:#333333;
	text-decoration: underline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-right: 10px;
}

#bottom_nav li a.active {

	color:#333333;
	text-decoration: underline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-right: 10px;
	
}


	

/* Top Navigation bar menu styling */
#nav {margin-top:33px; padding:0; float:right;}
#nav ul{ 
	padding:0;
	margin:0;
	width:auto;
	list-style: none;
	height:30px;
	position: relative;
	float:right;
}
#nav li{
	list-style:none;
	float:left;
	text-align:center;
	padding:0;
	font:bold 12px Century Gothic, sans-serif;
	line-height:30px;
}
#nav .lavaLamp li a {
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
	color:#FFFFFF; 
}

#nav .lavaLamp li a:hover {
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 10px; 
	color:#FFFFFF;
}

#nav .lavaLamp li .active {
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 10px; 
	color:#FFFFFF;
}


#nav .lavaLamp li.back {
	background: url(../img/lava.gif) no-repeat right -30px;
	width: 9px; height: 30px;
	z-index: 8;
	position: absolute;
}
#nav .lavaLamp li.back .left {
	background: url(../img/lava.gif) no-repeat top left;
	height: 30px;
	margin-right: 9px; /* 7px is the width of the rounded shape */
}
#nav a:link{color:#464833; text-decoration:none;}

#nav a:hover{color:#FFFFFF; text-decoration:none;}

#nav a:active{color:#FFFFFF; text-decoration:none;}



/* slide viewer classes etc */

/*preload classes*/ 
.svw {width: 50px; height: 20px; background: #fff;} 
.svw ul {position: relative; left: -999em;} 
 
/*core classes*/ 
.stripViewer { 
 
position: relative; 
overflow: hidden;  
border: 0px solid #ff0000;   
margin: 0 0 1px 0; 

} 
.stripViewer ul { /* this is your UL of images */ 
margin: 0; 
padding: 0; 
position: relative; 
left: 0; 
top: 0; 
width: 1%; 
list-style-type: none; 
} 
.stripViewer ul li {  
float:left;
 
} 
.stripTransmitter { 
overflow: auto; 
width: 1%; 
} 
.stripTransmitter ul { 
margin: 0; 
padding: 0; 
position: relative; 
list-style-type: none;
} 
.stripTransmitter ul li{ 
width: 20px; 
float:left; 
margin: 0 1px 1px 0;
} 
.stripTransmitter a{ 
font: bold 10px Verdana, Arial; 
text-align: center; 
line-height: 22px; 
background: #ff0000; 
color: #fff; 
text-decoration: none; 
display: block;
} 
.stripTransmitter a:hover, a.current{ 
background: #fff; 
color: #ff0000; 
} 
 
 



#calltoaction{
	z-index:100;
	position: absolute;
	width: 960px;
	top: 340px;
	height:133px;
	background-image:url(../img/bar.png);
	background-repeat:no-repeat;
}
	
	form{margin:0; padding:0;}
	
	#contact_form {
	float:left;
	width:460px;
	text-align: left;
	padding-left: 25px;
	margin-top: 40px;
	}
	
	.contactform {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333333;
	width:600px;
	text-align: left;
}



.contactform textarea {
	padding:2px;
	border:1px solid #d2d1cf;
	width:450px;
	height:80px;
	font-size:14px;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #ffffff;
}

.contactform label {
	width: 120px;
	float: left;
	padding: 5px;
	padding-left: 0px;
	margin-left: 0px;
}


.input-submit {
	margin-left: 130px;
	margin-top: 15px;
    background-image: url(../img/blue_submit_button.gif);
	width: 157px;
	height: 27px;
	background-repeat:no-repeat;
    border: none;
	cursor: pointer;
	background-color: transparent;
}

.input-submit:hover {
	margin-left: 130px;
	margin-top: 15px;
    background-image: url(../img/submit_over.gif);
	width: 157px;
	height: 27px;
	background-repeat:no-repeat;
    border: none;
	cursor: pointer;
	background-color: transparent;
}

.input-textarea {
	padding:2px;
	border:1px solid #d2d1cf;
	width:300px;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	background-color: #ffffff;
}


	
.page a {
text-decoration:underline;
color:#84b73a;
}

.page a:hover {
text-decoration:underline;
color:#222222;
}

.intro {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	font-style:italic;
}